{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;


}

header{
  background-color: black;
}
/* Nav styles */

nav{
  width: 100%;
  text-align: center;
  background-color: black;
}

/* Social Media links position */
.media{
  display: flex;
  flex-direction: row;
  margin-left: 76%;
  padding-top: 15px;
  margin-top: 0px;


}
/* Social Media links style */
.fa {
  padding: 10px;
  font-size: 25px;
  width: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 65%;

}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 7px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  margin-left: 7px;
}

/* Instagram */
.fa-instagram {
  background: #833AB4;
  color: white;
  margin-left: 7px;
}

.title{
  display: flex;

}
.title-item {
  flex:1;
}
.title-item-grow {
  flex-grow:1;
}
/* logo */
.logo {
 max-width: 90px;
 display:inline-block;

  /*test
  width: 90px;
  height: 90px;
  float: left;
  padding-top: 0px;
  margin-top: -10px;
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  */
}
.logo img{
  width: 100%;
}
/* Header --Sports */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 72px;
  color: #E0E0E0;
  margin-top: -10px;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  display:inline-block;
  /*flex-grow: 1;
  margin-left: 35%;
  width: 50%;*/
}

/* Nav bar text */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: -42px;
}

nav li {
  float: left;

}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 32px;
  padding-right: 32px;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1.5px solid #bbb;
}

li:last-child {
  border-right: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: red;
}

/* End Nav Bar text */
/* Start of Body*/

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  color: black;
  text-align: center;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: black;
  text-align: center;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
}
h5{
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  color: black;
  text-align: center;
}
h6{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
}
button{
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-left: 40%;

}
.people{
  display: flex;
  max-width: 700px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
.people div:first-child{
  margin-left: 0px;
}
.people div:last-child{
  margin-right: 0px;
}
.people > div{
  flex:1;
  margin: 20px;
}
.person{
  border-radius: 50%;
  overflow: hidden;

}

.person img{
  width: 100%;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
}

{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
}

.footer{
  padding-top: auto;

}
@media screen and (max-width: 630px){
  h1 {
    font-size: 48px;
  }
}
