* {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #232323;
}

/* Nav styles */


/* End Nav Bar text */
.content_area {
  width: 100%;
  height: 900px;

}

/*Basic Text*/
.text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

.button {
  background-color: #C13C3C;
  /* RED*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  flex-direction: row;
  display: flex;
  box-shadow: 10px 10px 5px black;
  margin:auto;
}

/* Collapsible Sections */
section {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}

.sectionTitle {
  display: flex;
  background-color: #C13C3C;
  padding-left: 20px;
  padding-right: 20px;
}

.sectionTitle h2:first-child {
  flex-grow:4;
}

.sectionTitle h2 {
  flex: 1;
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}

.olympicAthleteImages, .olympicTrialImages, .stateChampsImages {
  display: none;
  background: white;
  padding-top: 10px;
}

.profileRow {
  display:flex;
  text-align: center;
}

.profileImage {
  flex:1;

}

.moreInfo {
  display: none;
  background: white;
  position: fixed;
  top:50%;
  width: 80%;
  left: 10%;
}
.circularImage {
  border-radius: 50%;
  overflow: hidden;
  height:200px;
  width:200px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px black;

}

.circularImage img {
  width: 100%;
}

h2.oMinus, h2.oTMinus, h2.oSMinus {
  display: none
}

h2 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

.band {
  width: 100%;
  height: 500px;
  background-color: red;
}

@media screen and (max-width:  720px) {
  .profileRow {
    display:block;
  }
}
